html, body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #5DADE2;
  background-color: #282c34;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
}

.left {
  margin-left: 0px;
  justify-content: start;
}

.right {
  margin-right: 0px;
  
  justify-content: end;
}

.center {
  justify-content: center;
}

.number__label {
  width: 72px;
}

.number__input {
  
  text-align: center;
  border-radius: 4px;
  border-color: #5DADE2;
  border-style: solid;
  color:  #1B4F72; 
  background-color: #F2F4F4;
  height: 20px;
}

.number__operation {
  text-align: center;
  border-radius: 4px;
  border-color: #5DADE2;
  border-style: solid;
  color: #F2F4F4; 
  background-color: #1B4F72;
  width: 80px;
  height: 26px;
}

.operation {
  margin: 16px 0px 16px 0px;
  text-align: center;
  color: #5DADE2;
  width: 80px;
}

.notation {
  margin: 16px 0px 16px 0px;
  text-align: center;
  color: #5DADE2;
  width: 80px;
}

.number__bits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bit-button {
  margin: 2px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  border-color: #1B4F72;
  border-style: solid;
  width: 26px;
  height: 26px;
}

.bit-on {
  color: white;
  background-color: #117A65;
}

.bit-off {
  color: #F2F4F4;
  background-color: #282c34;
}

.bit-space {
  width: 0px;
}

